body{
    background-color: green;
    margin: 0;
}

.main{
    height: 30%;
    background-color: blanchedalmond;
}
.sub{
    height: 100%;
    width: 10%;
    /* background-color: wheat;  */
    animation-name: grras;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes grras {
    /* from{
        width: 10%;
    }
    to{
        width: 100%;
        background-color: rgb(81, 46, 46);
    } */
    10%{
        width: 10%;
        height: 10%;
        background-color: rgb(22, 19, 19);
    }
    20%{
        width: 20%;
        height: 20%;
        background-color: red;
    }
    30%{
        width: 30%;
        height: 30%;
        background-color: white;
    }
    40%{
        width: 40%;
        height: 40%;
        background-color: gray;
    }
    50%{
        width: 50%;
        height: 50%;
        background-color: cyan;
    }
}